<div class="container">
    <header>
        <h1>Cookbook</h1>
        <h5>Mis recetas de cocina</h5>
    </header>
    <!-- Barra de navegación -->
    </nav>
    <nav class="barra-navegacion">
        <ul>
            <!-- ng-class asigna clases CSS en función de expresión booleana -->
            <li ng-class="{ 'seleccionada': $ctrl.misRecetasSeleccionada }">
                <a ng-click="$ctrl.navegarMisRecetas()">Mis Recetas</a>
            </li>
            <li ng-class="{ 'seleccionada': $ctrl.nuevaRecetaSeleccionada }">
                <a ng-click="$ctrl.navegarNuevaReceta()">Nueva Receta</a>
            </li>
        </ul>
    </nav>
    <!-- Contenido de los componentes a donde se navega. Componentes hijos -->
    <ng-outlet></ng-outlet>
</div>