<div class="container">
    <header>
        <h1>Cookbook</h1>
        <h5>Mis recetas de cocina</h5>
    </header>
    <!-- Barra de navegación -->
    <nav class="barra-navegacion">
        <ul>
            <li>
                <a ng-link="['MisRecetas']">Mis recetas</a>
            </li>
            <li>
                <a ng-link="['NuevaReceta']">Nueva Receta</a>
            </li>
        </ul>
    </nav>
    <!-- Contenido de los componentes a donde se navega. Componentes hijos -->
    <ng-outlet></ng-outlet>
</div>